/* 覆盖浏览器默认样式开始 */
*{   
    padding: 0;   
    margin: 0; 
}
/* 覆盖浏览器默认样式结束 */

ul {
    list-style-type: none;
}

ul.toplevel {
    display: inline;
}

li.toplevel {
    float: left;
    text-align: center;
    font-size: 15px;
    font-family: '微软雅黑', serif;
}

li.toplevel > a:link {
  color: white;
}

li.toplevel > a:hover {
  background-color: #4f7cab;
  border-top: 3px solid #ffa004;
  line-height: 29px;
}

ul.secondlevel {
    position: absolute;
    width: 158px;
    text-align: left;
    border: 1px solid lightgrey;
}

li.secondlevel,li.greeterlevel {
    height: 36px;
    font-size: 14px;
    background-color:white;
    position: relative;
}

li.secondlevel > a,li.greeterlevel>a {
  padding-left: 15px;
  padding-right: 15px;
}

li.secondlevel>a:hover,li.greeterlevel>a:hover{
  background-color: #476fba;
  color:white;
}

ul.greeterlevel {
    position: absolute;
    left: 158px;
    top:  0;
    width: 158px;
    border: 1px solid lightgrey;
}

.dropdown-arrow {
  font-family: '黑体';
  display: inline-block;
  position: absolute;
  margin-top: -1px;
  right:5px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    height: 34px;
    width: 100%;
    line-height: 34px;
}
