.main-container, .main-container header {
    flex: 0 0 1.5rem;
}

.header.header-6, header.header-6 {
    background-color: rgb(71, 111, 154);
}

.sub-header {
    border-top: 1px solid rgb(47, 73, 102);
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.main-container .sub-nav, .main-container .subnav {
    background-color: #ddd;
    flex: 0 0 1.2rem;
}

.content-container {
    padding-left: 1.5% !important;
    padding-right: 1.5% !important;
}

.subnav {
    justify-content: left;
}

.subnav > a {
    text-decoration: none;
    height: 29px;
    line-height: 29px;
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.subnav > a.active, .subnav > a:hover {
    background-color: #ffa004;
    color: white;
}

.subnav > a {
    min-width: 80px;
    text-align: left;
}

.subnav > a > span {
    color: #dddddd;
    float: right;
    margin-left: 0.5rem;
    font-family: serif;
}

.subnav > a:hover > span {
    color: white;
}

.subnav > a > span.tabclose {
    color: white;
}

